---
layout: default
---
<!-- _layouts/cv.html -->
{% unless site.data.resume %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
      {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <h4>Table of contents</h4>
  <!-- embed me -->
  <ul class="timeline">
  {% for entry in site.data.cv %}
    <li><a href="#{{ entry.title }}"><span class="badge-toc">{{ entry.title }}</span></a></li>
  {% endfor %}
  </ul>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <a class="anchor" id="{{ entry.title }}"></a>
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ entry.title }}</h3>
          <div>
          {% if entry.type == "list" %}
            {% include cv/list.html %}
          {% elsif entry.type == "map" %}
            {% include cv/map.html %}
          {% elsif entry.type == "nested_list" %}
            {% include cv/nested_list.html %}
          {% elsif entry.type == "time_table" %}
            {% include cv/time_table.html %}
          {% elsif entry.type == "list_groups" %}
            {% include cv/list_groups.html %}
          {% else %}
            {{ entry.contents }}
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
  </article>

</div>
{% else %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

  <object data="/assets/pdf/bryan-lu-cv-09-18-2025.pdf" type="application/pdf" width="100%" height="1020px">
    <p>Unable to display PDF file. <a href="/assets/pdf/bryan-lu-cv-09-18-2025.pdf">Download</a> instead.</p>
  </object>

</div>
{% endunless %}

<table>
  <tr>
    <td>
      <img src="http://math.jhu.edu/~savitt/GTM/lickorish.jpg" width=120 height=182 alt="">
    </td>
    <td>
      <p>If I were a Springer-Verlag Graduate Text in Mathematics, I would be  W.B.R. Lickorish's <b><i>An Introduction to Knot Theory</i></b>.</p><p> I am an introduction to mathematical Knot Theory; the theory of knots and links of simple closed curves in three-dimensional space. I consist of a selection of topics which graduate students have found to be a successful introduction to the field. Three distinct techniques are employed;  Geometric Topology Manoeuvres, Combinatorics, and Algebraic Topology.</p>
      <p>Which Springer GTM would <i>you</i> be?  <a href="http://math.jhu.edu/~savitt/GTM.html">The Springer GTM Test</a></p>
    </td>
  </tr>
</table>